@page "/"

<PageTitle>Index</PageTitle>

<h1>Bienvenue sur JeBalance</h1>
<p>La plateforme citoyenne de lutte contre l'évasion fiscale.</p>
<p>Ici, chaque citoyen peut contribuer à la justice fiscale en signalant anonymement tout cas suspect.</p>
<p>Notre mission : assurer une rétribution juste et sécurisée pour chaque dénonciation validée.</p>

<h2>Explorez nos trois principales fonctionnalités :</h2>
<br />
<ol>
    <li><strong>Dénonciation Facile :</strong> Signalez anonymement tout cas d'évasion fiscale ou de dissimulation de revenus en quelques clics.</li>
    <br />
    <li><strong>Suivi Transparent :</strong> Consultez l'état de vos dénonciations à tout moment. Nous assurons une transparence totale sur le processus, de la déclaration à la réponse.</li>
    <br />
    <li><strong>Justice Équitable :</strong> Notre équipe d'experts examine chaque signalement avec rigueur. Nous garantissons une rétribution juste et équitable pour chaque dénonciation vérifiée.</li>
</ol>


